In [1]:
import pandas as pd
from sklearn import preprocessing

In [2]:
df = pd.read_excel('./PublicPrivateSectors.xlsx')
df.head()

,Category,Author,DateTime,Href,Headline,Short_Summary,Long_Summary,Organization,Locations,Organization_Type,Attacks,PublicPrivate
0,\nVideos \n\n\n,Editor,3 Dec 2021 - 05:20PM,https://www.welivesecurity.com/videos/week-in-...,week security tony anscombe,eset researchers analyze malware frameworks ta...,eset researchers analyze malware frameworks ta...,interpol,,POLICE & ARM FORCES,Malware Attacks,Public Sector
1,\nCOVID-19 \n\n\n,Amer Owaida,3 Dec 2021 - 05:07PM,https://www.welivesecurity.com/2021/12/03/scam...,scammers exploit omicron fears new covid 19 ph...,fraudsters take advantage emergence new varian...,fraudsters take advantage emergence new varian...,uk national,united kingdom,GOVT,Online Fraud,Public Sector
2,\nMalware \n\n\n,Roman Kovac,2 Dec 2021 - 11:30AM,https://www.welivesecurity.com/2021/12/02/laun...,launching eset research podcast peek behind sc...,press play first episode host aryeh goretsky j...,press play first episode host aryeh goretsky j...,,,,Malware Attacks,
3,\nMalware \n\n\n,Alexis Dorais-JoncasFacundo Muñoz,1 Dec 2021 - 11:30AM,https://www.welivesecurity.com/2021/12/01/jump...,jumping air gap 15 years nation state effort,eset researchers studied malicious frameworks ...,eset researchers studied malicious frameworks ...,usb,,,Malware Attacks,
4,\nCybercrime \n\n\n,Amer Owaida,29 Nov 2021 - 06:04PM,https://www.welivesecurity.com/2021/11/29/1000...,1 000 arrested global crackdown online fraud,interpol led operation involved law enforcemen...,interpol led operation involved law enforcemen...,interpol,hong kong,POLICE & ARM FORCES,Trojan Attacks,Public Sector

In [3]:
df = df.drop(['Category', 'Author', 'DateTime', 'Href', 'Headline', 'Short_Summary', 'Long_Summary', 'Organization'], axis=1)
df.head()

        Locations    Organization_Type          Attacks  PublicPrivate
0                  POLICE & ARM FORCES  Malware Attacks  Public Sector
1  united kingdom                 GOVT     Online Fraud  Public Sector
2                                       Malware Attacks
3                                       Malware Attacks
4       hong kong  POLICE & ARM FORCES   Trojan Attacks  Public Sector

In [4]:
print(df['Locations'].value_counts())

                   3182
uk                  262
united states       147
america             118
russia              107
                   ...
usa las vegas         1
interfacewe           1
latin alphabet        1
las vegas anton       1
yuikee                1
Name: Locations, Length: 440, dtype: int64

In [5]:
df = df[df['Locations'] != ' ']
df = df[df['Organization_Type'] != ' ']
df = df[df['PublicPrivate'] != ' ']
df

,Locations,Organization_Type,Attacks,PublicPrivate
1,united kingdom,GOVT,Online Fraud,Public Sector
4,hong kong,POLICE & ARM FORCES,Trojan Attacks,Public Sector
6,china,HARDWARE MANUFACTURER,Man In the Middle Attack,Private
8,united states,'GOVERNMENT SECTOR FOR PUBLIC JUSTICE,Ransomware Attacks,'Public
13,united states,EDUCATIONAL INSTITUTE,Daniel of Service Attack,Private
...,...,...,...,...
5503,united arab emirates,MOBILE COMPANY,Malware Attacks,Private
5509,san francisco,LAPTOP,Web Attacks,Private
5545,uk,IT COMPANY,Malware Attacks,Private
5581,hungary,IT COMPANY,Malware Attacks,Private
5587,afghanistan,IT COMPANY,Malware Attacks,Private

In [6]:
# label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()

df['Locations']= label_encoder.fit_transform(df['Locations'])
df['Locations'].unique()
print("Locations = ", dict(zip(label_encoder.classes_, label_encoder.transform(label_encoder.classes_))))

df['Organization_Type']= label_encoder.fit_transform(df['Organization_Type'])
df['Organization_Type'].unique()
print("Organization_Type = ", dict(zip(label_encoder.classes_, label_encoder.transform(label_encoder.classes_))))

df['Attacks']= label_encoder.fit_transform(df['Attacks'])
df['Attacks'].unique()
print("Attacks = ", dict(zip(label_encoder.classes_, label_encoder.transform(label_encoder.classes_))))

df['PublicPrivate']= label_encoder.fit_transform(df['PublicPrivate'])
df['PublicPrivate'].unique()
print("PublicPrivate = ", dict(zip(label_encoder.classes_, label_encoder.transform(label_encoder.classes_))))

df

Locations =  {'activity united states': 0, 'afghanistan': 1, 'agencies united states': 2, 'america': 3, 'argentina': 4, 'arizona': 5, 'arkansas': 6, 'around united kingdom': 7, 'arstechnica': 8, 'atlanta': 9, 'attributesas': 10, 'australia': 11, 'baghdad': 12, 'bagheri': 13, 'barcelona': 14, 'beaumont': 15, 'birmingham': 16, 'bloomberg': 17, 'bootx64': 18, 'boston': 19, 'brazil': 20, 'britain': 21, 'britain germany': 22, 'brywek': 23, 'bulgaria': 24, 'cairo': 25, 'california': 26, 'canada': 27, 'cdc united states national health': 28, 'chicago': 29, 'china': 30, 'cisco': 31, 'cnrp': 32, 'colombia': 33, 'cupertino': 34, 'curve25519': 35, 'dearth': 36, 'dublin': 37, 'emotetthe united states federal bureau': 38, 'estonia': 39, 'eu': 40, 'europe united states': 41, 'europol united kingdom': 42, 'ever united states': 43, 'exedonkey kong': 44, 'extradited united states': 45, 'florida': 46, 'france': 47, 'fraudsters united states': 48, 'gamaredon': 49, 'georgia': 50, 'germany': 51, 'goalsthe united states federal bureau': 52, 'grandoreiro': 53, 'hamburg': 54, 'hangzhou': 55, 'happydon': 56, 'harden': 57, 'hollywood': 58, 'hong kong': 59, 'https': 60, 'hungary': 61, 'india': 62, 'indiana': 63, 'indonesia': 64, 'inqtana': 65, 'interfacewe': 66, 'interpol united states': 67, 'iowa': 68, 'ireland': 69, 'israel': 70, 'italy': 71, 'japan': 72, 'kamkar': 73, 'komdsecko': 74, 'korea': 75, 'koum': 76, 'krypton magnet': 77, 'kurdistan': 78, 'las vegas': 79, 'las vegas anton': 80, 'las vegas week': 81, 'las vegas year': 82, 'lithuania': 83, 'london': 84, 'los angeles': 85, 'luba': 86, 'magiclick': 87, 'malaysia': 88, 'marc': 89, 'markey': 90, 'massachusetts': 91, 'mcnamara': 92, 'mexico': 93, 'mhtml': 94, 'miami beach': 95, 'michigan': 96, 'minnesota': 97, 'moscow': 98, 'ms11': 99, 'nebraska': 100, 'networksthe united states federal bureau': 101, 'new york': 102, 'new york city': 103, 'new york times': 104, 'new zealand': 105, 'nigeria': 106, 'north africa': 107, 'north korea': 108, 'northeastern united states': 109, 'o3xzf': 110, 'oakland': 111, 'ohio': 112, 'orlando': 113, 'pakistani city lahore': 114, 'palo alto': 115, 'panama': 116, 'paris': 117, 'patch united states': 118, 'pennsylvania': 119, 'people united states': 120, 'poland': 121, 'princeton': 122, 'prntqdl64': 123, 'processthe united states federal bureau': 124, 'regina': 125, 'risksthe united kingdom': 126, 'russia': 127, 's6': 128, 'samsung knox': 129, 'samsung sony': 130, 'san bernardino': 131, 'san diego': 132, 'san francisco': 133, 'saudi arabia': 134, 'seattle': 135, 'singapore': 136, 'somalia': 137, 'south africa': 138, 'south carolina': 139, 'south korea': 140, 'spain': 141, 'st louis county': 142, 'st louis moerlein': 143, 'st louis public library week': 144, 'statesthe united states federal reserve': 145, 'switzerland germany': 146, 'sydney': 147, 'syria': 148, 'sysadmin': 149, 'taiwan': 150, 'targetsin': 151, 'texas': 152, 'thailand': 153, 'tibet': 154, 'tls_fallback_scsv': 155, 'tokyo': 156, 'toronto': 157, 'turkey': 158, 'uk': 159, 'uk germany': 160, 'united arab emirates': 161, 'united kingdom': 162, 'united kingdom united states': 163, 'united states': 164, 'united states canada': 165, 'united states debix inc': 166, 'united states department': 167, 'university york': 168, 'univia': 169, 'utah': 170, 'v6': 171, 'vaccineinterpol united states': 172, 'vietnam': 173, 'vulnerabilitiesthe united states federal bureau': 174, 'washington': 175, 'webl': 176, 'wild united states': 177, 'windowsdir': 178, 'withcan': 179, 'xpdcqbs3g2': 180, 'xrp': 181, 'xvmbc': 182, 'yearthe united states federal bureau': 183, 'zoophilia': 184, 'zwienenberg': 185}
Organization_Type =  {"'GOVERNMENT SECTOR FOR PUBLIC JUSTICE": 0, 'AIR AND SPACE': 1, 'BANKING': 2, 'CAMERA': 3, 'CYBERSECURITY SECTOR': 4, 'E-COMMERCE': 5, 'EDUCATIONAL INSTITUTE': 6, 'FINANCE': 7, 'FINANCIAL SERVICE PROVIDER': 8, 'GOVT': 9, 'HARDWARE MANUFACTURER': 10, 'HEALTH': 11, 'IT COMPANY': 12, 'LAPTOP': 13, 'MARKETING': 14, 'MEDIA': 15, 'MOBILE COMPANY': 16, 'NEWS': 17, 'OPTICAL RETAILING COMPANY': 18, 'POLICE & ARM FORCES': 19, 'POLITICAL': 20, 'STOCK EXCHANGE': 21, 'TAX AGENCY': 22, 'TRANSPORTATION': 23, 'VEHICLE': 24}
Attacks =  {' ': 0, 'Brute Force': 1, 'DNS SPOOFING': 2, 'Daniel of Service Attack': 3, 'Drive By Attack': 4, 'Insider Threat': 5, 'Malware Attacks': 6, 'Man In the Middle Attack': 7, 'Online Fraud': 8, 'Password Attacks': 9, 'Phishing Attack': 10, 'Ransomware Attacks': 11, 'SQL Injection': 12, 'Session Hijacking': 13, 'Spear Phishing Attacks': 14, 'Trojan Attacks': 15, 'URL Interpretation': 16, 'Web Attacks': 17}
PublicPrivate =  {"'Public": 0, 'Private': 1, 'Public': 2, 'Public Sector': 3}

      Locations  Organization_Type  Attacks  PublicPrivate
1           162                  9        8              3
4            59                 19       15              3
6            30                 10        7              1
8           164                  0       11              0
13          164                  6        3              1
...         ...                ...      ...            ...
5503        161                 16        6              1
5509        133                 13       17              1
5545        159                 12        6              1
5581         61                 12        6              1
5587          1                 12        6              1

[652 rows x 4 columns]

In [7]:
X = df.iloc[:,[0,1,3]]
y = df.iloc[:,[2]]

In [8]:
X

      Locations  Organization_Type  PublicPrivate
1           162                  9              3
4            59                 19              3
6            30                 10              1
8           164                  0              0
13          164                  6              1
...         ...                ...            ...
5503        161                 16              1
5509        133                 13              1
5545        159                 12              1
5581         61                 12              1
5587          1                 12              1

[652 rows x 3 columns]

In [9]:
y

      Attacks
1           8
4          15
6           7
8          11
13          3
...       ...
5503        6
5509       17
5545        6
5581        6
5587        6

[652 rows x 1 columns]

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=15)

In [11]:
from sklearn.linear_model import LinearRegression

reg = LinearRegression().fit(X_train, y_train)

y_pred = reg.predict(X_train)

# Training Score
print("Training Accuracy:", reg.score(X_train, y_train)*100)

Training Accuracy: 0.4250570610917048

In [12]:
from sklearn.linear_model import SGDRegressor

reg = SGDRegressor()
reg.fit(X_train, y_train)

y_pred = reg.predict(X_train)

# Training Score
print("Training Accuracy:", reg.score(X_train, y_train)*100)

Training Accuracy: -1.5744403227854898e+26

c:\Users\saad9\anaconda3\envs\dhanesh-prediction\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [13]:
from sklearn.linear_model import LogisticRegression

reg = LogisticRegression(multi_class='multinomial', solver='lbfgs')

reg.fit(X_train,y_train)

y_pred = reg.predict(X_train)

# Training Score
print("Training Accuracy:", reg.score(X_train, y_train)*100)

c:\Users\saad9\anaconda3\envs\dhanesh-prediction\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Training Accuracy: 26.58486707566462

c:\Users\saad9\anaconda3\envs\dhanesh-prediction\lib\site-packages\sklearn\linear_model\_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [14]:
from sklearn.ensemble import RandomForestRegressor

reg = RandomForestRegressor()

reg.fit(X_train,y_train)

y_pred = reg.predict(X_train)

# Training Score
print("Training Accuracy:", reg.score(X_train, y_train)*100)

Training Accuracy: 53.95210543699168

c:\Users\saad9\anaconda3\envs\dhanesh-prediction\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

In [15]:
import pickle

pickle.dump(reg, open('model', 'wb'))

In [18]:
import numpy as np
a = reg.predict(np.array([['12', '10', '1']]))
print(round(a[0]))

7

c:\Users\saad9\anaconda3\envs\dhanesh-prediction\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  "X does not have valid feature names, but"